<% @tasks.each do |task| %>
	  <tr class="row">
		<td class="submittable"><%= check_box_tag 'completed', :class => 'submittable' %></td>
	    <td><%= englishify(task.due_date) %></td>
	    <td><%= task.subject %></td>
	    <td><%= task.assign_to %></td>
	    <td><%= task.priority %></td>
	    <td><%= link_to 'Show', task, :remote => true %></td>
	    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
<% end %>
<%= paginate @tasks %>
