<%= form_for @task, do |f| %>
  <% if @task.errors.any? %>
    <div class="field">
      <% @task.errors.full_messages.each do |msg| %>
      <em><%= msg %></em>
      <% end %>
    </div>
  <% end %>

	  <div class="field">
	    Done<%= f.check_box :completed %>
	  </div>
	
	<div id="form">
	  <div class="left">
	    <%= f.label :due_date %><br />
		<%= f.text_field :set_date %>

		<br /><br />
	
	    Type<br />
	    <%= f.select :comm, options_for_select(["Email", "Phone", "Regular Mail", "Meeting", "Other"]) %><br /><br />
	  </div>
	 
	  <div class="right">
		
		Prority<br />
		  <%= f.check_box :priority, :default => false %>

		<br /><br />
		
		
		Patron<br />

		<div id="selectPatron">
			<% if @patron %>			
		    	<%= f.collection_select :patron_id, Patron.find(:all), :id, :last_name, :selected => @patron %>&nbsp;&nbsp;
			<% else %>
				<%= f.collection_select :patron_id, Patron.find(:all), :id, :last_name, :prompt => "None" %> &nbsp;&nbsp;
			<% end %>
			<% if @task.patron_id == @group_id %>
			 <%= link_to "Patron Group", patrons_path, :remote => true %>
			<% end %>
			<span class="groupLink"><%= link_to "Patron Group", patrons_path, :remote => true %>&nbsp;</span>
		</div>
		
	  </div>
	
	  <div class="subject">
	    <%= f.label :subject %><br />
	    <%= f.text_field :subject, :size => 70 %><br /><br />
	  </div>
	  <div class="">
	    <%= f.label :description %><br />
	    <%= f.text_area :description, :rows => 5, :cols => 55 %><br /><br />
	  </div>
	  <% if current_user.admin? %>
		  <div class="field">
	  <% else %>
		  <div class="hide">
	  <% end %>
			
		    Assign to (defaults to current user)<br />
		    <%= f.select :assign_to, options_for_select( @select_users.map { |e| [e.first_name] }, current_user.first_name ) %>
		
		<br /><br />
		  </div>
		  <div class="right">
			
		  <!-- do not display delete link for new task -->	
		  <% unless @task.id.nil? %>
		    <span class="red"><%= link_to "Cancel/Delete", @task, :confirm => "[x] Cancel this task        [ ] Delete permanently", :method => :delete, :class => "red" %></span>&nbsp;&nbsp; 
		  <% end %>
			<%= f.submit "Save" %>&nbsp;
			<%= f.submit "Save and New" %>
		  </div>
	</div>
<% end %>
