<div class="left">
	<% if current_user.admin? %>
		<%= link_to "My Tasks", tasks_path %> | <%= link_to "Everyone's Tasks", :controller => 'admin', :action => 'index'  %>
	<% else %>
		<%= link_to "My Tasks", tasks_path %>
	<% end %>
</div>
<div class="right"><%= link_to image_tag('add_sm.jpg', :border => 0), new_task_path, :remote => true %>&nbsp;<span class="add">Add &nbsp;&nbsp;&nbsp;&nbsp;</span><%= link_to image_tag('check.jpg', :border => 0), :controller => 'completed', :action => 'index' %>&nbsp;<span class="add">View History</span></div>
<br /><br /><br />
	<table class="tableWidth">
		<%= render :partial => 'shared/table_header' %>
	
		<% if @tasks.nil? %>
			<%= render :partial => 'shared/due_next' %>
		<% else %>
			<%= render :partial => 'shared/filtered' %>
		<% end %>
	</table>		
</div>

