<div id="vertScroll">
	<%= image_tag('scroll.png') %>
</div>
<span class="left"><strong>Add Patrons to Task</strong></span><span class="search"><%= image_tag('search.png') %></span><br /><br />
<br />
<% @patron.each do |t| %>
	<% unless t.last_name == "GROUP" %>
		<p><%= check_box_tag 'group' %> <%= t.last_name %></p>
	<% end %>

<% end %>
<div class="right">
 <%= link_to "Back", new_task_path, :remote => true %>
&nbsp; | &nbsp;
<%= link_to "Save", tasks_path %>
</div>


