<div class="left">
	<% if current_user.admin? %>
		<%= link_to "My Tasks", tasks_path %> | <%= link_to "Everyone's Tasks", :controller => 'admin', :action => 'index' %>
	<% else %>
		<%= link_to "My Tasks", tasks_path %>
	<% end %>
</div>

	<div class="right"><%= link_to image_tag('add_sm.jpg', :border => 0), new_task_path, :remote => true %>&nbsp;<span class="add">Add &nbsp;&nbsp;&nbsp;&nbsp;</span><%= link_to image_tag('check.jpg', :border => 0), tasks_path, :value => "1" %>&nbsp;<span class="add">View History</span></div>
	<br /><br /><br />
	<table class="tableWidth">
	  <tr>
		<th width="5%">Done</th>
	    <th width="20%"><%= sortable "due_date", "Due Date" %></th>
	    <th width="30%"><%= sortable "subject" %></th>
		<% if current_user.admin? %>
	    	<th width="20%"><%= sortable "assign_to", "Assigned To" %></th>
		<% end %>
	    <th width="8%"><%= sortable "priority" %></th>
	    <th width="7%"></th>
	    <th width="7%"></th>
	  </tr>
		<% if @tasks.nil? %>
			<%= render :partial => 'due_next' %>
		<% else %>
			<%= render :partial => 'filtered' %>
		<% end %>
	</table>		
</div>

