<div id="home">
	<div class="left"><%= link_to "Task Home", tasks_path %></div>
	<div class="right"><%= link_to 'New Task', new_task_path, :remote => true %></div>
	<br /><br />
	<table class="tableWidth">
	  <tr>
		<th>Done</th>
	    <th><%= sortable "due_date", "Due Date" %></th>
	    <th><%= sortable "subject" %></th>
		<% if current_user.admin? %>
	    	<th><%= sortable "assigned_to", "Assigned To" %></th>
		<% end %>
	    <th><%= sortable "priority" %></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
		<% @tasks.each do |task| %>
			<% unless task.completed? %>
				  <tr class="row">
					<td class="submittable"><%= check_box_tag 'completed', :class => 'submittable' %></td>
				    <td><%= englishify(task.due_date) %></td>
				    <td><%= task.subject %></td>
					<% if current_user.admin? %>				
				    	<td><%= task.assign_to %></td>
					<% end %>
				    <td><%= task.priority %></td>
				    <td><%= link_to 'Show', task, :remote => true %></td>
				    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
			      </tr>
			<% end %>
		<% end %>
	</table>
</div>