<div class="left">
	<% if current_user.admin? %>
		<%= link_to "My Tasks", tasks_path %> | <%= link_to "Everyone's Tasks", :controller => 'admin', :action => 'index' %>
	<% else %>
		<%= link_to "My Tasks", tasks_path %>
	<% end %>
</div>

<%= render :partial => 'shared/sort_header' %>
<br /><br /><br /><br />
<span style="color: green"><strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= flash[:notice] %></strong></em></span> ... <%= link_to "Back", :back %>


